@import url("https://fonts.googleapis.com/css2?family=Cairo+Play:wght@800&family=Poppins:ital,wght@0,300;0,400;0,600;1,400&display=swap");
@import "./styles/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.nav-title {
    font-family: "Cairo Play", cursive;
    font-size: 1.5rem;
    font-weight: 800;
}
a {
    text-decoration: none;
}

html, body, #root {
    height: 100%;
    background-color: rgb(224, 224, 224);
}

main {
    height: 100%;
}

@import './styles/chats'