.chats {
  $border-color: rgb(205, 205, 205);
  display: flex;
  border: 1px solid $border-color;

  max-width: 1080px;
  margin: auto;

  height: calc(100% - $nav-height - (2 * $chat-gutter));

  #sidebar {
    border-right: 1px solid $border-color;
    .sidebar-header h3 {
      margin: 0;
      padding: 1rem;
      font-weight: 600;
      border-bottom: 1px solid $border-color;
    }

    .sidebar-list {
      &-item {
        display: flex;
        align-items: center;
        padding: 1rem;
        border-bottom: 1px solid $border-color;
        cursor: pointer;
        transition: all ease-in-out 0.2s;

        &:hover {
            background-color: rgb(205, 205, 205);
        }

        &-image {
          margin-right: 0.5rem;
          position: relative;
          img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
          }

          .active-status {
            display: none;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 50%;
            background-color: rgb(0, 255, 0);
            border: 2px solid rgb(255, 255, 255);

            &.active {
              display: block;
            }
          }
        }

        &-name {
          & * {
            margin: 0;
          }
          h4 {
            color: #333;
            font-size: 1rem;
            font-weight: 600;
          }
          p {
            font-size: 0.8rem;
            color: rgb(100, 100, 100);
          }
        }
      }
    }
  }
  

  .chatbox {
    width: 100%;

    $header-height: 80px;
    $footer-height: 50px;

    $chatbox-primary: #008091;
    $chatbox-secondary: #00cae5;

    &#chatbox {
      position: relative;
    }
    position: relative;

    &-header {
      display: flex;
      align-items: center;
      padding: 1rem;
      height: $header-height;
      border-bottom: 1px solid $border-color;

      &-image {
        margin-right: 0.5rem;
        position: relative;
        img {
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50%;
        }

        .active-status {
          display: none;
          position: absolute;
          bottom: 0;
          right: 0;
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
          background-color: rgb(0, 255, 0);
          border: 2px solid rgb(255, 255, 255);

          &.active {
            display: block;
          }
        }
      }

      &-name {
        & * {
          margin: 0;
        }
        h4 {
          color: #333;
          font-size: 1.5rem;
          font-weight: 600;
        }
        p {
          font-size: 0.8rem;
          color: rgb(136, 136, 136);
        }
      }
    }

    overflow: hidden;

    #messages {
      max-height: calc(100% - $header-height - $footer-height);
      overflow-y: scroll;

      //   &::-webkit-scrollbar {
      //     width: 8px;               /* width of the entire scrollbar */
      //   }

      //   &::-webkit-scrollbar-track {
      //     background: #bbf7ff;        /* color of the tracking area */
      //   }

      //   &::-webkit-scrollbar-thumb {
      //     background-color: $chatbox-primary;    /* color of the scroll thumb */
      //     border-radius: 20px;       /* roundness of the scroll thumb */
      //     border: 2px solid rgba($color: #000000, $alpha: 0.1);
      //   }

      & .message {
        padding: 0.5rem 1.25rem;
        background-color: $chatbox-primary;
        color: rgb(59, 59, 59);
        border-radius: 0.5rem;
        margin-top: 0.5rem;
        color: white;

        &:last-child {
          margin-bottom: 0.5rem;
        }

        &.sent {
          background-color: $chatbox-secondary;
          color: #333;
        }

        p.message-content {
          padding: 0;
          margin: 0;
        }
        .message-stamp {
          display: flex;
          align-items: center;
          justify-content: end;
          p {
            padding: 0;
            margin: 0;
            margin-bottom: 0;
            font-weight: bold;
            font-size: 90%;
            &.time {
              padding-left: 0.5rem;
              font-size: 75%;
              color: rgb(201, 201, 201);
              &.sent {
                // padding-left:;
                color: rgb(104, 104, 104);
              }
            }
          }
        }
      }
    }

    .message-footer {
      height: $footer-height;
      padding-top: 0.25rem;

      form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        input {
          width: 89%;

          @media screen and (max-width: 668px) {
            width: 79%;
          }
          padding: 0.5rem 0.8rem;
          outline: none;
          border: none;
          border-radius: 10px;
          background-color: $chatbox-secondary;
          color: white;

          &:last-child {
            width: 10%;
            @media screen and (max-width: 668px) {
              width: 20%;
            }
            background-color: $chatbox-primary;
            color: white;
            transition: all 0.3s;

            &:hover {
              background-color: #005f6b;
            }
          }
        }
      }
    }
  }
}
